.login {
  border-radius: 50px;
  background: #ff5500;
  white-space: nowrap;
  padding: 12px 30px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.login:hover {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  background: #fff;
}

.logout {
  border-radius: 50px;
  background: #d2301e;
  white-space: nowrap;
  padding: 12px 30px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.logout:hover {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  background: #fff;
}

.signup {
  border-radius: 50px;
  background: #010606;
  white-space: nowrap;
  padding: 14px 48px;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.signup:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  background: #ff5500;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.welcomeLogin {
  display: flex;
  height: 80px;
  padding: 12px 30px;
  margin-right: 0;
}

.welcome {
  align-self: center;
  text-align: center;
  color: #ffff00;
  margin-right: 2px;
}

@media screen and (max-width: 980px) {
  .welcome {
    display: none;
  }
}
